<h1>This is the template for an example.1 component <span data-key="ref">${{ref}}</span></h1>
<input type="text" data-key="testkey" data-action="exampleAction" value="${{testkey}}" />
<input type="text" name="namekey" value="${{namekey}}" />
<input type="text" id="idkey" value="${{idkey}}" />
<p data-key="testkey">${{testkey}}</p>
<p data-key="namekey">${{namekey}}</p>
<p data-key="idkey">${{idkey}}</p>
<button data-action="anotherAction">clickme</button>
<button data-action="save">save</button>